<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mindskip.wdd.repository.CourseWareQuestionMapper">

  <select id="getCourseWareQuestion" parameterType="java.lang.Integer" resultType="com.mindskip.wdd.domain.CourseWareQuestion">
    select  *  from t_course_ware_question
    where deleted = 0 and course_ware_id = #{courseWareId}
    order by anchor_second
  </select>


</mapper>