<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mindskip.wdd.repository.ExamPaperUserCameraMapper">

  <select id="getCameraImage" resultType="java.lang.String">
    select image_path from t_exam_paper_user_camera
    where exam_paper_id = #{examPaperId} and user_id = #{userId}
    order by id asc
  </select>

</mapper>