<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mindskip.wdd.repository.QuestionArchiveMapper">


  <select id="getRootQuestionArchive" resultType="com.mindskip.wdd.domain.QuestionArchive" >
    SELECT  *  FROM t_question_archive
    where deleted= 0 and parent_id is null
    order by item_order asc
  </select>


  <select id="getQuestionArchiveByParentId" resultType="com.mindskip.wdd.domain.QuestionArchive" >
    SELECT  *  FROM t_question_archive
    where deleted= 0 and parent_id = #{id}
    order by item_order asc
  </select>


  <update id="updateLevel">
    update t_question_archive set level = regexp_replace(level,#{regexLevel},#{targetLevel})
  </update>


  <select id="getByLevel" resultType="com.mindskip.wdd.domain.QuestionArchive">
    SELECT  *  FROM t_question_archive
    where deleted= 0 and level = #{level}
    limit 1
  </select>


  <update id="deleteByLevel">
    update t_question_archive set deleted = 1 where level like concat(#{level},'%')
  </update>

</mapper>