<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mindskip.wdd.repository.UserCredentialMapper">

  <select id="page" resultType="com.mindskip.wdd.domain.UserCredential" parameterType="com.mindskip.wdd.viewmodel.answer.PaperCredentialPageRequestVM">
    SELECT  *  FROM t_user_credential uc
    where deleted = 0 and exam_paper_build_id = #{id}
    <if test="credentialId != null">
      and id = #{credentialId}
    </if>
    <if test="dataFilterUserId != null">
      and user_id = #{dataFilterUserId}
    </if>
    <if test="userName != null and userName != ''">
      and exists (select 1 from t_user u where uc.user_id=u.id and u.user_name = #{userName} and u.deleted= 0 )
    </if>
    <if test="dataFilterDepartmentList != null and dataFilterDepartmentList.size() > 0">
      and create_department_id in
      <foreach item="item" collection="dataFilterDepartmentList" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
  </select>


  <select id="userCredentialCount" resultType="java.lang.Integer" >
    SELECT count(*)
    FROM t_user_credential where deleted = 0 and  exam_paper_build_id = #{paperBuildId}
    <if test="alreadyBuild != null">
      <choose>
        <when test="alreadyBuild">
         and credential_image_path is not null
        </when>
        <otherwise>
          and credential_image_path is null
        </otherwise>
      </choose>
    </if>
  </select>


  <select id="waitBuildCredentialCount" resultType="java.lang.Integer" >
    SELECT count(*)
    FROM t_user_credential
    where deleted = 0  and  credential_image_path is null
  </select>


  <select id="waitBuildCredentialPage" resultType="com.mindskip.wdd.domain.UserCredential">
    SELECT  *  FROM t_user_credential
    where deleted = 0  and  credential_image_path is null
    limit #{pageIndex},#{pageSize}
  </select>



  <select id="userPage" resultType="com.mindskip.wdd.domain.UserCredential" parameterType="com.mindskip.wdd.viewmodel.credential.CredentialUserPageRequestVM">
    SELECT  *  FROM t_user_credential uc
    where deleted = 0
    <if test="id != null">
      and id = #{id}
    </if>
    <if test="userName != null and userName != ''">
      and EXISTS ( select 1 from t_user u WHERE u.id = uc.user_id and user_name like concat('%',#{userName},'%') limit 1 )
    </if>
    <if test="trainId != null">
      and train_id = #{trainId}
    </if>
    <if test="departmentIdList != null and departmentIdList.size() > 0">
      and create_department_id in
      <foreach item="item" collection="departmentIdList" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    <if test="dataFilterUserId != null">
      and user_id = #{dataFilterUserId}
    </if>
    <if test="dataFilterDepartmentList != null and dataFilterDepartmentList.size() > 0">
      and create_department_id in
      <foreach item="item" collection="dataFilterDepartmentList" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
  </select>

</mapper>